.cuerpo {
  background: linear-gradient(30deg, #faa, #eee 20%, #eee 80%, #faa);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.cuerpo-principal {
  width: 80%;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.cuerpo-principal h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  font-size: 40px;
  color: #c00;
}
.producto {
  width: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 25px 40px;
}
.pro-imagen {
  width: 100%;
  height: 180px;
  object-fit: contain;
  background: #fff;
  transition: transform 0.3s;
}
.pro-imagen:hover {
  transform: scale(1.1);
}
.pro-nombre {
  font-size: 16px;
  padding: 15px 5px;
  color: #444;
}
.pro-precio {
  font-size: 18px;
  color: rgb(58, 163, 49);
  font-weight: bold;
  padding-bottom: 15px;
}
.pro-añadir {
  padding: 10px;
  width: 75%;
  background: #c00;
  color: #ddd;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px #444;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
.pro-añadir:hover {
  background: #eee;
  color: #444;
}
.pro-id {
  display: none;
}
.pro-cat {
  display: none;
}

.cuerpo-lateral {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.cuerpo-lateral h2 {
  width: 100%;
  font-size: 28px;
  padding-bottom: 20px;
  color: #c00;
  border-bottom: 2px solid #c00;
}
.cuerpo-lateral div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #c00;
}
.cuerpo-lateral h3 {
  width: 100%;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #c00;
}
button.activo {
  background: #eee;
  color: #444;
}
.filtro {
  width: 40%;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  background: #c00;
  color: #ddd;
  box-shadow: 0 0 3px #444;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

.precio input {
  width: 40%;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  background: #eee;
  outline: none;
  border: none;
  box-shadow: 0 0 3px #444;
  transition: box-shadow 0.3s;
}
.precio input:hover {
  box-shadow: 0 0 6px #444;
}
.precio input::-webkit-outer-spin-button,
.precio input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.contenedor {
  position: relative;
}
.opaco {
  position: absolute;
  background: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1000;
  opacity: 0;
  transition: opacity 0.5s;
}
.pro-especificaciones {
  position: fixed;
  top: calc(50% - 250px);
  left: calc(50% - 450px);
  width: 900px;
  height: 500px;
  background: linear-gradient(30deg, #faa, #eee 20%, #eee 80%, #faa);
  z-index: -2000;
  opacity: 0;
  padding: 50px;
  transition: opacity 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pro-cerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 3000;
}
.pro-cerrar span {
  font-size: 40px;
  color: #c00;
}

.mostrar1 {
  opacity: 1;
  z-index: 1000;
  transition: opacity 0.5s;
}
.mostrar2 {
  opacity: 1;
  z-index: 2000;
  transition: opacity 0.5s;
}

.especif-imagen {
  width: 350px;
  height: 400px;
  box-shadow: 0 0 2px #444;
  object-fit: contain;
  background: #eee;
}
.especif-info {
  width: 400px;
}
.especif-nombre {
  color: #444;
  font-size: 24px;
  padding-bottom: 10px;
  text-align: center;
}
.especif-precio {
  color: rgb(58, 163, 49);
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}
.especif-especificaciones {
  display: flex;
  flex-wrap: wrap;
}
.especif-especificaciones h4 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #c00;
  padding-bottom: 20px;
}
.especif-especificaciones > div {
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  padding: 5px 10px;
}
.esp-1,
.esp-2,
.esp-3 {
  color: #444;
  font-size: 14px;
  padding-bottom: 5px;
}
.esp-1 {
  width: 40%;
  text-transform: capitalize;
}
.esp-2 {
  width: 5%;
}
.esp-3 {
  width: 55%;
}
.especif-añadir {
  display: block;
  margin: 30px auto 0;
  padding: 10px;
  width: 150px;
  background: #c00;
  color: #ddd;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px #444;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
.especif-añadir:hover {
  background: #eee;
  color: #444;
}

.alerta-añadir {
  position: fixed;
  top: calc(50% - 75px);
  left: calc(50% - 200px);
  width: 350px;
  height: 150px;
  background: linear-gradient(30deg, #faa, #eee 20%, #eee 80%, #faa);
  z-index: -2000;
  opacity: 0;
  padding: 30px;
  transition: opacity 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.mensaje-alerta {
  width: 100%;
  color: #444;
  text-align: center;
}
.cerrar-alerta {
  padding: 8px;
  width: 80px;
  background: #ddd;
  color: #444;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  box-shadow: 0 0 3px #444;
  cursor: pointer;
  transition: background 0.5s;
}
.cerrar-alerta:hover {
  background: #bbb;
}
.mostrar3 {
  opacity: 1;
  z-index: 3000;
  transition: opacity 0.5s;
}
.mostrar4 {
  opacity: 1;
  z-index: 4000;
  transition: opacity 0.5s;
}
